.teacher{
  float: right;
  padding-right: 29px;
  margin-left: 71px;
  text-align: center;
  margin-bottom: 31px;
}

.teacher > ul > li{
  list-style-type: none;
}

.teacher > ul > img {
  border: solid 1px;
  border-radius: 50%;
  width: 199px;
  height: 200px;
}

.allteacher{
  margin-top: -196px;
  text-align: center;
  direction:rtl;
  margin-right: 53px;

}

.allteacher > h1{
  color: rgb(138, 203, 154);
  font-family: KacstDecorative;
  font-size: 59px;
  padding-bottom: 24px;
}

#name{
  color: rgb(251, 157, 130);
  font-family: KacstDecorative;
}

#copyright{
clear:both;
}

#job{
  color: rgb(138, 203, 154);
  font-family: KacstDecorative;
}
